* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bg1: rgba(247, 143, 45, 0.815);
    --bg2: rgb(253, 106, 22);
}

body {
    user-select: none;
    background: var(--bg1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.moves{
    position: absolute;
    top: 50px;
    left: 50px;
}

.container {
    background: var(--bg2);
    padding: 20px;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 0 30px 0 rgb(97, 40, 7);
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.gird {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin: 20px;
}

.card {
    width: 90px;
    height: 90px;
    background-color: rgb(240, 53, 21);
    border: 1px solid rgb(255, 136, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 red;
}

.card.flipped {
    color: red;
    transform: rotateY(180deg);
    text-shadow: 0 0 10px rgb(240, 127, 21);
    box-shadow: inset 0 0 10px 0 rgb(240, 127, 21);
}

.card.matched {
    cursor: default;
    transform: rotateY(180deg);
    background-color: rgba(45, 252, 45, 0.479);
}
.card.fly{
    transform: translateY(-50px);
}
.card.gaiab{
    opacity: 0;
}

.start-game {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 60, 0);
    background: rgb(240, 53, 21);
    font-weight: bolder;
    transition: 0.5s;
    outline: none;
}

.start-game:hover {
    box-shadow: 0 0 5px 0 rgb(255, 0, 0);
}

.start-game:active {
    transform: translateY(5px);
}

@media (min-width: 200px) and (max-width: 500px) {
    body {
        background: var(--bg1);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gird {
        display: grid;
        grid-template-columns: repeat(4, 80px);
        gap: 5px;
        margin: 10px;
    }

    .card {
        width: 70px;
        height: 70px;
        background-color: rgb(240, 53, 21);
        border: 1px solid rgb(255, 136, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        cursor: pointer;
        transition: 0.5s ease;
        border-radius: 10px;
    }
}